

/* <!-- --------------- Hero Section -------- --> */
.hero{
height:90vh;
background-image: url("https://i.pinimg.com/736x/50/47/a9/5047a9745f26f04e815ebcc795c1a4f4.jpg");
background-size: cover;
background-position: center;
}

/* <!-- ---------------------- Navbar -------------------- --> */
.nav-item:hover{
    color: green;
}



.col-md-4{
    text-align: center;
}

.iframe-card{
    overflow: hidden;
}
